.tab_godchild .DAF-gc-bar {
  overflow: hidden;
  background-color: unset;
  padding: 8px 12px 12px 8px;
  text-align: center;
  white-space: unset;
}

.tab_godchild .DAF-gc-pal {
  margin-top: 4px;
  margin-left: 4px;
  height: 100px;
  background-color: #FFF;
  border-color: #0008;
}

.tab_godchild .DAF-gc-pal div:last-child {
  margin-top: 47px;
  position: unset;
  height: 36px;
  background-color: transparent;
}

.DAF-gc-show-region .DAF-gc-pal {
  background-color: var(--rg-col);
}

.godchild_table thead .outlined {
  color: var(--tt-outlined-fgcol);
}

.godchild_table:not(.complete):not(:hover) .DAF-gc-pal.collected {
  opacity: 0.3;
}

.godchild_table.complete thead tr {
  background-color: var(--tb-brcol);
}

.godchild_table .DAF-gc-pal b.energy {
  padding-left: 16px;
  background-image: url(/img/gui/energy.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 0px -2px;
}