.tab_progress tfoot td {
  text-align: right;
}

.tab_progress tfoot progress::-webkit-progress-value {
  background-color: var(--pb-fgcol2);
}

.tab_progress th.energy {
  cursor: help;
}

.tab_progress.no-dates td.date,
.tab_progress.no-dates th.date,
.tab_progress.no-energy td.energy,
.tab_progress.no-energy th.energy {
  display: none;
}

.progress_table td {
  text-align: right;
}

.tab_progress .warning {
  text-align: center;
}

.progress_table td.date,
.progress_table td.date,
.progress_table td.date {
  text-align: center;
}

.progress_table td:nth-child(3) img {
  /* This forces the image to be centered horizontally */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progress_table td:nth-child(1) {
  text-align: right;
  border-right-width: 0px;
  padding-right: 0px;
}

.progress_table td:nth-child(2) {
  text-align: left;
  border-left-width: 0px;
}

.progress_table tr.inspect {
  cursor: zoom-in;
}

.progress_table tr.header {
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
}

.progress_table tr.subtotal {
  background-color: var(--tb-brcol);
  color: var(--th-fgcol);
}

.progress_table tr.subtotal progress::-webkit-progress-value {
  background-color: var(--pb-fgcol3);
}

.progress_table tr.grandtotal {
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
  font-weight: bold;
}

.progress_table tr.subtotal td:nth-child(2),
.progress_table tr.grandtotal td:nth-child(2) {
  text-align: right;
}

.progress_table tr.inspected {
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
  cursor: zoom-out;
}

.progress_table tr.not-inspected[data-level="0"] {
  background-color: var(--th-bgcol);
  opacity: 0.5;
}

.progress_table tr.not-inspected[data-level="1"] {
  background-color: var(--tb-brcol);
  opacity: 0.5;
}

.progress_table tr.inspect:hover {
  background-color: var(--tb-hlcol);
  color: var(--tb-fgcol);
}

.progress_table td div {
  font-size: 10pt;
}

.tab_progress tr[data-level="1"] progress::-webkit-progress-value {
  background-color: var(--pb-fgcol2);
}

.tab_progress .slider td:nth-child(1) {
  border-right-width: 1px;
  padding-left: 16px;
  padding-right: 16px;
  background: var(--tr-bgcol2);
}

.tab_progress .slider input {
  display: block;
  width: 100%;
  cursor: pointer;
}

.tab_progress .slider span {
  font-weight: bold;
  font-size: smaller;
}

.tab_progress .slider span:nth-child(2) {
  float: left;
}

.progress_playtime {
  padding-top: 4px;
  margin-bottom: -2px;
  font-weight: bold;
}