.equipment img.building {
  max-width: 48px;
  max-height: 48px;
}

.equipment tr td {
  text-align: center;
}

.equipment tr td:nth-child(2) {
  text-align: left;
}

.equipment .cost img {
  height: 18px;
  vertical-align: text-bottom;
  margin-left: 2px;
}

.equipment td.locked {
  background-color: rgba(255, 0, 0, 0.2);
}

.equipment .cost span {
  display: inline-block;
  cursor: default;
}

.equipment .cost span.locked {
  background-color: rgba(255, 0, 0, 0.2);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 4px;
}

.equipment-stats {
  padding-top: 4px;
  margin-bottom: -2px;
  font-weight: bold;
}

.equipment div.offer {
  display: inline-block;
  border-radius: 4px;
  padding: 0px 2px;
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
  margin-right: 4px;
}

.equipment div.offer-dates span {
  padding: 0px 2px;
}

.equipment div.offer-dates span.locked {
  background-color: rgba(255, 0, 0, 0.1);
}

.equipment td.wh {
  padding-right: 0px;
}

.equipment td.wh div {
  display: inline-block;
  vertical-align: middle;
}

.equipment td.wh div.mask {
  margin-left: 6px;
  background-image: url(/img/gui/building_mask.png);
  width: calc(var(--w) * 10px + 1px);
  height: calc(var(--h) * 10px + 1px);
  margin-right: calc((5 - var(--w)) * 10px);
}