.equipment img.building {
  max-width: 60px;
  max-height: 60px;
}

.equipment tr td {
  text-align: center;
}

.equipment tr td:nth-child(1) {
  padding: 2px 2px;
}

.equipment tr td:nth-child(2) {
  text-align: left;
}

.equipment_pack .cost img,
.equipment .cost img,
.equipment .bonus img {
  height: 18px;
  vertical-align: text-bottom;
  margin-left: 2px;
}

.equipment .bonus {
  text-align: left;
}

.equipment td.locked {
  background-color: rgba(255, 0, 0, 0.2);
}

.equipment th[sort-name=type] img {
  width: 24px;
  height: 24px;
  margin: -4px 0;
}

.equipment_pack .cost span,
.equipment .cost span {
  display: inline-block;
  cursor: default;
}

.equipment_pack .cost span.locked,
.equipment .cost span.locked {
  background-color: rgba(255, 0, 0, 0.2);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 4px;
}

.equipment div.offer {
  display: inline-block;
  border-radius: 4px;
  padding: 0px 2px;
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
  margin-right: 4px;
}

.equipment div.offer-dates span {
  padding: 0px 2px;
}

.equipment div.offer-dates span.locked {
  background-color: rgba(255, 0, 0, 0.1);
}

.equipment td.wh {
  padding-right: 0px;
}

.equipment td.wh div {
  display: inline-block;
  vertical-align: middle;
}

div.equipment_mask {
  margin-left: 6px;
  background-image: url(/img/gui/building_mask.png);
  width: calc(var(--w) * 10px + 1px);
  height: calc(var(--h) * 10px + 1px);
  margin-right: calc((5 - var(--w)) * 10px);
}

.equipment_pack {
  margin-top: 4px;
  display: inline-block;
  max-height: calc(100vh - 200px);
  max-width: calc(100vw - 32px);
  overflow: auto;
  position: relative;
}

.equipment_pack table,
.equipment_pack td {
  border: 0;
  padding: 0;
  margin: 0;
}

.equipment_pack td.additional {
  padding-left: 16px;
}

.equipment_pack .outlined-text {
  text-shadow: -1px -1px #000, -1px 0px #000, -1px 1px #000, 0px -1px #000, 0px 1px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000;
}

.equipment_pack .item {
  width: 120px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 2px;
  float: left;
  cursor: default;
}

.equipment_pack .item .title {
  padding: 1px 2px;
  width: 120px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  display: grid;
}

.equipment_pack .item .title span {
  margin: auto;
  color: #000;
  font-size: 10pt;
  line-height: 0.85em;
}

.equipment_pack .item.gem .title {
  background-color: #B7C;
}

.equipment_pack .item.capacity .title {
  background-color: #99F;
}

.equipment_pack .item.regen .title {
  background-color: #6D6;
}

.equipment_pack .item.usable .title,
.equipment_pack .item.energy .title {
  background-color: #DD6;
}

.equipment_pack .item.xp .title {
  background-color: #F96;
}

.equipment_pack .item.material .title {
  background-color: #6BC;
}

.equipment_pack .item.token .title,
.equipment_pack .item.decoration .title {
  background-color: #EFE;
}

.equipment_pack .item .bonus {
  margin-top: -104px;
  width: 120px;
  height: 104px;
  display: grid;
}

.equipment_pack .item .bonus span {
  font-size: 12pt;
  font-weight: bold;
  color: #FF0;
  margin: auto;
  text-align: center;
}

.equipment_pack .item .limit {
  margin-top: -104px;
  width: 120px;
  height: 104px;
  text-align: center;
  font-size: 12px;
  padding-top: 2px;
}

.equipment_pack .item .mask {
  margin-top: -104px;
  width: 120px;
  height: 104px;
  display: grid;
}

.equipment_pack .item .mask .equipment_mask {
  transform: scale(1.5);
  transform-origin: bottom right;
  opacity: 0.8;
  margin: auto 2px 0px auto;
}

.equipment_pack .item .image {
  height: 104px;
  display: grid;
}

.equipment_pack .item .image img {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.equipment_pack .item .caption {
  text-align: center;
  height: 42px;
  margin-top: -16px;
  display: grid;
}

.equipment_pack .item .caption div {
  margin-top: auto;
}

.equipment_pack .item .caption span {
  color: #FFF;
  font-weight: bold;
  font-size: 15pt;
}

.equipment_pack .item .caption img {
  vertical-align: top;
  margin-top: 2px;
}

.equipment_pack .item.regen .caption,
.equipment_pack .item.capacity .caption {
  padding-top: 4px;
}

.equipment_pack .item.regen .caption span,
.equipment_pack .item.capacity .caption span {
  font-size: 14pt;
}

.equipment_pack .item .caption span.qty {
  color: #FF8;
  font-size: 10pt;
  line-height: 0.8em;
}

.equipment_pack .item.section {
  height: 154px;
  padding: 4px;
  display: grid;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 110px;
}

.equipment_pack .item.section span {
  margin: auto;
  color: #FFF;
  font-weight: bold;
  font-size: 17pt;
  word-break: break-word;
}

.equipment_pack .item.section.region span,
.equipment_pack .item.section span.region span {
  font-size: 12pt;
}

.equipment_pack .item.section.region img,
.equipment_pack .item.section span.region img {
  margin: auto;
  transform: scale(1.2);
  transform-origin: bottom center;
}

.equipment-activated {
  background-color: var(--tt-button-hlcol);
  color: var(--tt-button-fgcol);
  border-radius: 4px;
}

.tab_equipment .toolbar label {
  display: inline-block;
  text-align: left;
}

.tab_equipment .toolbar label span {
  display: table-cell;
  white-space: nowrap;
}

.equipment-advanced-table td {
  padding: 1px;
  text-align: center;
}

.equipment-advanced-table td:nth-child(2) {
  padding-left: 14px;
  padding-right: 6px;
}

.equipment-advanced-table tr:first-of-type td {
  vertical-align: bottom;
}

.equipment-advanced-table b {
  display: inline-block;
  max-width: 234px;
}

.equipment-advanced-table select {
  height: 270px !important;
  width: 234px !important;
}

.equipment-advanced-table option {
  letter-spacing: -0.5px;
  padding-left: 2px;
}

.equipment-advanced-table option::before {
  content: "";
}

.equipment_pack.mini {
  --scale: 0.7;
}

.equipment_pack.compact {
  --scale: 0.8;
}

.equipment_pack.compact td.td-section {
  width: 91px;
  height: 127px;
}

.equipment_pack.mini td.td-section {
  width: 80px;
  height: 111px;
}

.equipment_pack.mini[data-type=offer] td.td-section {
  height: 126px;
}

.equipment_pack.compact[data-type=offer] td.td-section {
  height: 144px;
}

.equipment_pack.compact td.td-item {
  width: 99px;
}

.equipment_pack.mini td.td-item {
  width: 87px;
}

.equipment_pack.zoomed td.td-section>.item,
.equipment_pack.zoomed td.td-item>.item {
  transform: scale(var(--scale));
  transform-origin: top left;
  position: absolute;
}

.equipment_pack .cost {
  color: white;
  background-color: #446;
  text-align: center;
  height: 21px;
  overflow: hidden;
}

.equipment_pack span {
  font-size: 14px;
}

.equipment_pack .item.section .tier_cost {
  font-size: 15pt;
}

.equipment_pack .item.section .tier_cost img {
  height: 28px;
  vertical-align: middle;
  margin-left: 2px;
}

.equipment_pack .energy {
  padding-right: 28px;
  background: url(/img/gui/energy.png) no-repeat right center;
  background-size: 26px;
}

.equipment_pack .time {
  padding-right: 28px;
  background: url(/img/gui/time.png) no-repeat right center;
  background-size: 26px;
}