@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html {
  /* VERTICAL MENU */
  --vm-brcol: #000;
  --vm-bgcol: #999;
  --vm-item-bgcol: #CCC;
  --vm-item-fgcol: #333;
  --vm-item-hov-bgcol: #EE9;
  --vm-item-hov-fgcol: #006;
  --vm-item-sel-bgcol: #E7E7E7;
  --vm-item-sel-fgcol: #000;
  /* SLICK SCROLLBAR */
  --ssb-size: 10px;
  --ssb-bgcol: var(--vm-bgcol);
  --ssb-thumb-bgcol: var(--vm-item-bgcol);
  --ssb-thumb-brcol: var(--vm-brcol);
  --ssb-thumb-hov-bgcol: #FF0;
  /* TABLES */
  --tb-brcol: #36648B;
  --tb-fgcol: #000;
  --tb-hlcol: #FF0;
  --th-fgcol: #FFF;
  --th-bgcol: #2281C0;
  --td-brcol: #B3B3B3;
  --tr-bgcol: #F5F5F5;
  --tr-bgcol2: #E7E7E7;
  /* CARDS */
  --crd-fgcol: #FFF;
  --crd-brcol: #777;
  --crd-bgcol: #A6A6A6;
  --crd-bgcol2: #CCCCCC;
  --crd-bgcol3: #E7E7E7;
  /* TOOLBAR */
  --tt-fgcol: #FFF;
  --tt-bgcol: #387b89;
  --tt-button-bgcol: #9CE;
  --tt-button-fgcol: #000;
  --tt-button-hlcol: #4F4;
  --tt-outline: #000;
  --tt-outlined-fgcol: #FFA;
  --tt-input-bgcol: #FFF;
  --tt-input-fgcol: #000;
  --tt-input-brcol: #000;
  /* PROGRESS BAR */
  --pb-brcol: #000;
  --pb-bgcol: #667888;
  --pb-fgcol: #A8E78D;
  --pb-fgcol2: #E7E78D;
  --pb-fgcol3: #8DE7E7;
  /* DEFAULT OUTLINE COLOR */
  --outline-color: #000;
  /* WARNING TEXT */
  --warn-bgcol: #F40;
  --warn-fgcol: #FFF;
  --success-bgcol: #0A0;
  --success-fgcol: #FFF;
}

/*#region GENERAL*/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  cursor: inherit;
}

html,
body,
.left-panel,
.right-panel {
  height: 100%;
}

input[type=checkbox],
input[type=button],
button,
select,
label {
  cursor: pointer;
}

input[type=text],
input[type=number] {
  cursor: text;
}

input[type=number] {
  text-align: right;
}

.help,
.wiki {
  cursor: help !important;
}

a {
  cursor: pointer;
}

a.no-link {
  cursor: default;
  text-decoration: none;
}

.warning {
  background-color: var(--warn-bgcol);
  color: var(--warn-fgcol);
}

.success {
  background-color: var(--success-bgcol);
  color: var(--success-fgcol);
}

/*#endregion*/

/*#region GUI ELEMENTS*/

.left-panel {
  float: left;
  overflow: hidden;
}

.right-panel {
  overflow: auto;
  color: var(--vm-item-sel-fgcol);
  background-color: var(--vm-item-sel-bgcol);
}

.main-container>div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable-content {
  flex-grow: 1;
  overflow: auto;
  padding: 12px 12px 12px 0px;
  margin-left: 12px;
  text-align: center;
}

.sticky-header {
  position: sticky;
  top: -12px;
  z-index: 1;
}

.sticky-footer {
  position: sticky;
  bottom: -12px;
}

.sticky-container {
  overflow: auto;
  display: inline-block;
  border: 2px solid var(--tb-brcol);
}

.sticky-container table,
.sticky-container thead,
.sticky-container tbody,
.sticky-container tfoot {
  border: none;
}

.sticky-container thead {
  border-bottom: 2px solid var(--tb-brcol);
}

.sticky-container tfoot {
  border-top: 2px solid var(--tb-brcol);
}

.sticky-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.sticky-container::-webkit-scrollbar-track,
.sticky-container::-webkit-scrollbar-corner {
  background-color: var(--tb-brcol);
}

.sticky-container::-webkit-scrollbar-thumb {
  background-color: var(--th-fgcol);
  border-radius: 10px;
}

.sticky-container::-webkit-scrollbar-thumb:vertical {
  border-left: 2px solid var(--tb-brcol);
}

.sticky-container::-webkit-scrollbar-thumb:horizontal {
  border-top: 2px solid var(--tb-brcol);
}

.sticky-container .sticky-header {
  position: sticky;
  top: 0px;
}

.sticky-container .sticky-footer {
  position: sticky;
  bottom: 0px;
}

progress {
  display: block;
  border: none;
  min-width: 200px;
  width: auto;
  height: 14px;
  margin: 2px 0px;
  -webkit-appearance: none;
  border: 2px solid var(--pb-brcol);
  border-radius: 50px;
}

progress::-webkit-progress-bar {
  border-radius: 50px;
  background: var(--pb-bgcol);
}

progress::-webkit-progress-value {
  border-radius: 50px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-color: var(--pb-fgcol);
  filter: drop-shadow(2px 0px 0px var(--pb-brcol));
}

.outlined {
  /* text-shadow: -1px -1px var(--outline-color), -1px 0px var(--outline-color), -1px 1px var(--outline-color), 0px -1px var(--outline-color), 0px 1px var(--outline-color), 1px -1px var(--outline-color), 1px 0 var(--outline-color), 1px 1px var(--outline-color); */
  filter: drop-shadow(0px 1px 0px var(--outline-color)) drop-shadow(0px -1px 0px var(--outline-color)) drop-shadow(1px 0px 0px var(--outline-color)) drop-shadow(-1px 0px 0px var(--outline-color));
}

.limit-width {
  display: inline-block;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*#endregion*/

/*#region VERTICAL MENU*/

.vertical-menu {
  --ssb-size: 6px;
  background-color: var(--vm-bgcol);
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 40px;
  max-width: 160px;
  user-select: none;
  display: flex;
  flex-direction: column;
  /*
  box-shadow: inset -10px 0px 28px 0px rgba(0, 0, 0, 0.6);
  --shadow: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc(100% - 14px), rgba(0, 0, 0, 0.5));
  */
}

.vertical-menu li {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  padding-right: 8px;
  color: var(--vm-item-fgcol);
  background-color: var(--vm-item-bgcol);
  border-bottom: 1px solid var(--vm-brcol);
  border-right: 1px solid var(--vm-brcol);
  cursor: pointer;
  height: 35px;
  background-repeat: no-repeat;
  background-position: 2px 1px;
  background-size: 32px 32px;
  flex-shrink: 0;
  z-index: 3000;
}

.vertical-menu li:hover {
  color: var(--vm-item-hov-fgcol);
  background-color: var(--vm-item-hov-bgcol);
}

.vertical-menu li.disabled {
  color: var(--vm-item-fgcol);
  background-color: var(--vm-item-bgcol);
  filter: saturate(10%);
  cursor: not-allowed;
}

.vertical-menu li.disabled span {
  filter: blur(1px);
}

.vertical-menu li.selected {
  color: var(--vm-item-sel-fgcol);
  background-color: var(--vm-item-sel-bgcol);
  cursor: default;
  border-right-color: var(--vm-item-sel-bgcol);
  /* this will show the element over the shadow of the main container and will cast a shadow on the other elements */
  /*
  position: relative;
  z-index: 1;
  box-shadow: -10px 8px 28px -3px rgba(0, 0, 0, 0.6);
  */
}

.vertical-menu li span {
  display: table-cell;
  vertical-align: middle;
  height: 34px;
  padding-left: 40px;
  word-break: break-word;
}

.vertical-menu li.last {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--vm-bgcol) !important;
  border-bottom: none;
  cursor: default;
}

.vertical-menu li.first {
  background-color: var(--vm-bgcol) !important;
  cursor: default;
}

@media (max-width: 1366px) {
  .vertical-menu li span {
    display: none;
  }
}

/*#endregion*/

/*#region INPUT TYPE=RANGE*/
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: var(--tb-brcol);
  outline: none;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 4px;
}

input[type=range]:focus,
input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--vm-brcol);
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background-color: var(--vm-item-sel-bgcol);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--vm-brcol);
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color: var(--vm-item-hov-bgcol);
}

.slider input {
  display: block;
  width: 100%;
  cursor: pointer;
}

.slider span.slider-step {
  font-weight: bold;
  font-size: smaller;
}

.slider span.slider-title,
.slider span.slider-step.slider-min {
  float: left;
}

.slider span.slider-step.slider-max {
  float: right;
}

/*#endregion*/

/*#region TABLE*/

table {
  font-weight: normal;
  color: var(--tb-fgcol);
  margin: 0px auto;
  border-color: var(--tb-brcol);
  border-collapse: collapse;
  border-spacing: 0;
  border-style: solid;
  border-width: 2px;
}

thead {
  color: var(--th-fgcol);
  background: var(--th-bgcol);
}

tfoot {
  color: var(--th-fgcol);
  background: var(--th-bgcol);
}

thead,
tfoot {
  font-weight: bold;
  cursor: default;
  text-align: center;
  border: 2px solid var(--tb-brcol);
}

th,
td {
  padding: 3px 5px;
  font-size: 14px;
  border: 1px solid var(--td-brcol);
  overflow: hidden;
  word-break: normal;
}

th {
  font-weight: bold;
}

tbody>tr,
tbody>tr.even,
tbody.row-coloring>tr:nth-child(even),
table.row-coloring>tbody>tr:nth-child(even) {
  background: var(--tr-bgcol);
}

tbody>tr.odd,
tbody.row-coloring>tr:nth-child(odd),
table.row-coloring>tbody>tr:nth-child(odd) {
  background: var(--tr-bgcol2);
}

tbody.hidden {
  display: none;
}

/*#endregion*/

/*#region SORTABLE*/

th.sortable,
th.sortable-sub {
  background-image: url(data:image/gif;base64,R0lGODlhCwAMAIAAAP///////yH5BAEAAAEALAAAAAALAAwAAAIWjA2nCLnR4or00PuytlcyrIBTszlHAQA7);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  padding-right: 21px !important;
}

th.sort-descending {
  background-image: url(data:image/gif;base64,R0lGODlhCwAMAIAAAP///////yH5BAEAAAEALAAAAAALAAwAAAIPjI+pyw0P4YkS0VVx25wVADs=);
}

th.sort-ascending {
  background-image: url(data:image/gif;base64,R0lGODlhCwAMAIAAAP///////yH5BAEAAAEALAAAAAALAAwAAAIRjI+pywYN4oo00Xuubrz7UwAAOw==);
}

th.sortable-sub {
  background-image: url(data:image/gif;base64,R0lGODlhCwAMAIAAAAAAgP///yH5BAEAAAEALAAAAAALAAwAAAIWjA2nCLnR4or00PuytlcyrIBTszlHAQA7);
}

th.sort-sub.sort-descending {
  background-image: url(data:image/gif;base64,R0lGODlhCwAMAIAAAAAAgP///yH5BAEAAAEALAAAAAALAAwAAAIPjI+pyw0P4YkS0VVx25wVADs=);
}

th.sort-sub.sort-ascending {
  background-image: url(data:image/gif;base64,R0lGODlhCwAMAIAAAAAAgP///yH5BAEAAAEALAAAAAALAAwAAAIRjI+pywYN4oo00Xuubrz7UwAAOw==);
}

/*#endregion*/

/*#region TOOLBAR*/

.toolbar {
  color: var(--tt-fgcol);
  background: var(--tt-bgcol);
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  padding: 6px 10px 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0px 6px;
  position: sticky;
  top: 0px;
  --outline-color: var(--tt-outline);
}

.toolbar label {
  white-space: nowrap;
  opacity: 0.8;
}

.toolbar label:hover,
.toolbar label:focus-within {
  opacity: 1;
}

.toolbar .outlined {
  color: var(--tt-outlined-fgcol);
}

.toolbar .stats,
thead .stats {
  font-size: larger;
  font-weight: bold;
}

.toolbar select,
.toolbar input[type=number],
.toolbar input[type=text],
.toolbar button {
  border: 1px solid var(--tt-input-brcol);
  padding: 2px;
  font-size: 16px;
  color: var(--tt-input-fgcol);
  background-color: var(--tt-input-bgcol);
}

.toolbar button {
  padding: 2px 6px;
  color: var(--tt-button-fgcol);
  background-color: var(--tt-button-bgcol);
  border-radius: 6px;
}

.toolbar button.activated {
  background-color: var(--tt-button-hlcol);
}

.toolbar input[type=number][name=level] {
  width: 3.5em;
}

.toolbar input[type=checkbox] {
  zoom: 1.8;
  vertical-align: middle;
}

.toolbar label+label {
  margin-left: 12px;
}

.toolbar .warning {
  border-radius: 4px;
  padding: 1px 6px;
  font-size: larger;
  font-weight: bold;
  display: table;
  margin: 2px auto -2px;
}

.content {
  padding: 12px;
  text-align: center;
}

/*#endregion*/

/*#region CARD*/

.card {
  border: 2px solid var(--crd-brcol);
  display: inline-block;
  /*
  display: table;
  margin: auto;
  min-width: 200px;
*/
}

.card+* {
  margin-top: 12px;
}

.card>label {
  display: block;
  margin: 0;
  text-align: left;
  padding: 6px;
  margin-right: auto;
  margin-bottom: 0px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: var(--crd-fgcol);
  cursor: default;
  min-height: 1em;
  background-color: var(--crd-bgcol);
}

.card>label>img:first-child {
  vertical-align: top;
  top: -12px;
  left: -6px;
  margin-bottom: -20px;
  position: relative;
}

.card>label>span {
  padding-right: 16px;
  display: inline-block;
}

.card>div {
  vertical-align: middle;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  color: var(--crd-fgcol);
  background-color: var(--crd-bgcol);
  background-image: -webkit-linear-gradient(top, var(--crd-bgcol), var(--crd-bgcol3));
  flex-grow: 1;
  overflow: auto;
}

/* CARD CLICKER */

.card>input[type=checkbox] {
  -webkit-appearance: none;
}

.card>input[type=checkbox]:checked~div {
  display: none;
}

.card>input[type=checkbox]~label::after {
  content: ' ';
  float: right;
  width: 16px;
  height: 16px;
  background-color: var(--crd-fgcol);
  -webkit-mask-image: url(/img/gui/card-hide.png);
  mask-image: url(/img/gui/card-hide.png);
}

.card>input[type=checkbox]~label {
  cursor: ns-resize;
}

.card>input[type=checkbox]:checked~label::after {
  -webkit-mask-image: url(/img/gui/card-show.png);
  mask-image: url(/img/gui/card-show.png);
}

/*#endregion*/

/*#region SLICK SCROLLBAR*/

.slick-scrollbar::-webkit-scrollbar {
  width: var(--ssb-size);
  height: var(--ssb-size);
}

.slick-scrollbar::-webkit-scrollbar-track {
  background: var(--ssb-bgcol);
  border-radius: 10px;
}

.slick-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid var(--ssb-thumb-brcol);
  background-color: var(--ssb-thumb-bgcol);
}

.slick-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--ssb-thumb-hov-bgcol);
}

.scrollbar-overlay {
  overflow: overlay;
}

.scrollbar-overlay::-webkit-scrollbar {
  display: none;
}

.scrollbar-overlay:hover::-webkit-scrollbar {
  display: block;
}

/*#endregion*/

/*#region SCREENSHOT*/
.screenshot {
  display: inline-block;
  padding: 2px;
  margin-bottom: -15px;
  margin-top: -15px;
  vertical-align: middle;
}

.screenshot:hover,
.screenshot img:hover {
  opacity: 1;
}

.screenshot img {
  opacity: 0.5;
  cursor: pointer;
  height: 26px;
}

.screenshot .target {
  margin-left: 5px;
  border: 1px solid var(--outline-color);
}

.screenshot .target:not(.ready) {
  display: none;
}

.toolbar .screenshot {
  margin-left: 12px;
}

/*#endregion*/

/*#region NOTES*/
input.note {
  font-family: 'Arial', sans-serif;
  background-color: rgba(255, 255, 0, 0.2);
  border: 0;
  border-radius: 2px;
  width: 100%;
}

input.note:placeholder-shown {
  background-color: transparent;
}

input.note:hover,
input.note:focus {
  background-color: #FF0;
}

input.note:focus::-webkit-input-placeholder {
  color: transparent;
}

/*#endregion*/

/*#region Tooltip*/
.Tooltip {
  color: var(--th-fgcol);
  border: 2px solid var(--tb-brcol);
  --outline-color: #000;
  padding: 4px 4px;
  border-radius: 8px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
  z-index: 4000;
}

.Tooltip::after {
  content: "";
  background-color: var(--th-bgcol);
  border-radius: 4px;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.Tooltip-On {
  visibility: visible;
  opacity: 1;
}

/*#endregion*/

td.dot,
td.dot2 {
  background-image: url(/img/gui/red_dot.gif);
  background-repeat: no-repeat, no-repeat;
  background-position: 3px 4px, 11px 4px;
}

td.dot2 {
  background-image: url(/img/gui/blue_dot.gif);
}

td.dot.dot2 {
  background-image: url(/img/gui/red_dot.gif), url(/img/gui/blue_dot.gif);
}

/*#region GREEN/RED RINGS*/
.tab_greenrings .stats img,
.tab_redrings .stats img {
  vertical-align: middle;
  margin-right: 8px;
}

.rings.card {
  vertical-align: top;
  margin: 0px 3px 6px 3px;
  transition: 0.2s all ease-in-out;
}

.rings.card table {
  margin: 6px auto;
}

.rings.card table td.level,
.rings.card table td.min,
.rings.card table td.avg,
.rings.card table td.max {
  text-align: right;
}

.rings.card table td.chest {
  text-align: center;
  font-weight: bold;
}

.rings.card table td.material {
  text-align: left;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: 4px center;
}

.rings-no-level .rings.card .level,
.rings-no-minmax .rings.card .min,
.rings-no-minmax .rings.card .max {
  display: none;
}

.rings tr.not-random td.max,
.rings tr.not-random td.avg {
  border-left: 0;
}

.rings tr.not-random td.min,
.rings tr.not-random td.avg {
  border-right: 0;
}

/*#endregion*/