.neighbors tr td:nth-child(1),
.neighbors tr td:nth-child(3),
.neighbors tr td:nth-child(4),
.neighbors tr td:nth-child(5),
.neighbors tr td:nth-child(6),
.neighbors tr td:nth-child(7),
.neighbors tr td:nth-child(8),
.neighbors tr td:nth-child(9) {
  text-align: center;
}

.neighbors tr td:nth-child(2) {
  text-align: left;
}

.neighbors tr[lazy-render] td:nth-child(1) {
  background: no-repeat url(/img/gui/anon.gif) 5px 5px;
}

.neighbors tr td:nth-child(1) {
  min-height: 61px;
}

.neighbors tr th:nth-child(1) {
  min-width: 61px;
}

.neighbors tr th:nth-child(2) {
  min-width: 180px;
  max-width: 300px;
}

.neighbors tr td:nth-child(9) {
  cursor: help;
}
.neighbors tr td:nth-child(9):hover {
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
}

.neighbors .giftrow td {
  padding: 0;
}

.neighbors .giftlist {
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.neighbors .giftlist div {
  display: inline-block;
  width: 58px;
  text-align: center;
  overflow: hidden;
}

.neighbors .giftlist b {
  display: block;
  text-align: right;
  height: 16px;
  margin-top: -16px;
  padding-right: 8px;
}

.neighbors .giftlist div {
  font-size: 11px;
}