.neighbors tr td {
  text-align: center;
}

.neighbors tr td:nth-child(2) {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.neighbors tr[lazy-render] td:nth-child(1) {
  background: no-repeat url(/img/gui/anon.gif) 5px 5px;
}

.neighbors tr td:nth-child(1) {
  min-height: 61px;
}

.neighbors tr th[rowspan=2]:nth-child(1) {
  min-width: 61px;
}

.neighbors tr th[rowspan=2]:nth-child(2) {
  min-width: 180px;
  max-width: 300px;
}

.neighbors td.has-gifts {
  cursor: zoom-in;
}

.neighbors tr.show-gifts td.has-gifts {
  cursor: zoom-out;
  color: var(--success-fgcol);
  background-color: var(--success-bgcol);
}

.neighbors td.has-gifts:hover {
  background-color: var(--tb-hlcol);
  color: var(--tb-hlfgcol);
}

.neighbors .giftrow td {
  padding: 0;
  background-color: var(--th-bgcol);
  color: var(--th-fgcol);
}

.neighbors .giftlist {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.neighbors .giftlist div {
  display: inline-block;
  width: 58px;
  text-align: center;
  overflow: hidden;
}

.neighbors .giftlist img {
  width: 50px;
  height: 50px;
}

.neighbors .giftlist b {
  display: block;
  text-align: right;
  height: 16px;
  margin-top: -16px;
  padding-right: 8px;
}

.neighbors .giftlist i {
  display: block;
  text-align: left;
  margin-top: -48px;
  height: 48px;
  padding-left: 4px;
  color: #FF0;
  font-style: normal;
}

.neighbors .giftlist i,
.neighbors .giftlist b,
.neighbors .giftlist img {
  filter: drop-shadow(0px 1px 0px var(--outline-color)) drop-shadow(0px -1px 0px var(--outline-color)) drop-shadow(1px 0px 0px var(--outline-color)) drop-shadow(-1px 0px 0px var(--outline-color));
}

.neighbors .giftRow div {
  font-size: 11px;
}

.neighbors span.id {
  display: none;
  font-weight: bold;
}

.tab_neighbors.show-id span.id {
  display: block;
}

.neighbors .friend {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.neighbors .friendname {
  font-style: oblique;
  opacity: 0.8;
}

.neighbors .camp_blocks {
  display: inline-block;
  width: 30;
  height: 30;
  text-align: center;
  background-color: red;
  border-radius: 16px;
  padding-top: 7px;
  color: white;
  font-size: 12pt;
  font-weight: bold;
}

.neighbors-advanced-table td {
  padding: 1px;
  text-align: center;
  max-width: 400px;
}

.neighbors-advanced-table td:nth-child(2) {
  padding-left: 14px;
  padding-right: 6px;
}

.neighbors-advanced-table textarea {
  width: 100% !important;
}

.neighbors-advanced-table .expression-error {
  color: #FD9;
  height: 2.2em;
  white-space: nowrap;
}

.neighbors-advanced-table .expression-error .culprit {
  background-color: red;
  color: white;
  padding: 0px 2px 2px;
}

.neighbors-advanced-table .expression-help {
  width: 100%;
  margin-top: 6px;
}

.neighbors-advanced-table .expression-help td {
  width: 33%;
  padding: 2px;
  border: 1px solid #FFF;
  font-size: smaller;
}

.neighbors-advanced-table .expression-help th {
  color: #333;
  background-color: #99E;
  border: 1px solid #FFF;
  font-size: smaller;
  padding: 1px;
}

.neighbors-advanced-table .expression-item {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}

.neighbors-advanced-table .expression-item * {
  margin: 0 2px;
}

.neighbors-advanced-table .expression-item span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.neighbors-advanced-table .activated {
  background-color: var(--tt-button-hlcol);
  color: var(--tt-button-fgcol);
  border-radius: 4px;
}

.neighbors-advanced-table span[title]:hover {
  background-color: var(--tb-hlcol);
  color: var(--tb-hlfgcol);
  cursor: help;
}

.neighbors_summary {
  margin-top: 4px;
}

.neighbors_summary td.gift {
  text-align: center;
  padding: 2px 8px 6px;
}

.neighbors_summary span.qty {
  font-size: 22px;
  font-weight: bold;
}

.neighbors_summary span.xp {
  font-size: 12px;
  background-color: var(--tb-hlcol);
  color: var(--tb-hlfgcol);
  border-radius: 4px;
  padding: 1px 4px;
}

.neighbors_summary div.img {
  width: 50px;
  height: 50px;
  padding-top: 25px;
  margin: auto;
}

.neighbors_summary img {
  max-width: 48px;
  max-height: 48px;
  transform: translateY(-50%);
}