/*#region MENU */

.DAF-menu-container {
  z-index: 2000;
  position: fixed;
  left: -8px;
  top: 32px;
}

.DAF-badges b,
.DAF-menu,
.DAF-menu * {
  box-sizing: border-box;
  font-size: 12pt !important;
  font-family: Sans-Serif !important;
  line-height: 1.34;
  user-select: none;
}

.DAF-menu,
.DAF-menu b,
.DAF-menu i,
.DAF-menu span {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 1em;
  background-color: #BDF;
  color: #046;
  font-style: normal;
}

.DAF-menu {
  background-color: #FFF;
  padding: 0;
  border-left: 0;
  border-radius: calc(1em + 2px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: calc(1em + 11px);
  width: calc(1em + 12px);
  border-width: 2px;
  transition: 0.6s;
  background-position: 8px 4px;
  background-repeat: no-repeat;
  background-image: url(/img/gui/about.png);
  background-size: 16px 16px;
}

.DAF-menu:focus-within,
.DAF-menu:hover {
  height: auto;
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  padding: 8px 0px 24px 10px;
  width: 54px;
  background-position: -14px 24px;
}

.DAF-menu li {
  display: none;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 2px;
  border-radius: 1em;
  padding-right: 2px;
  cursor: default;
}

.DAF-menu:focus-within li,
.DAF-menu:hover li {
  display: inline-block;
}

.DAF-menu b {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 6px 0 4px;
  transition: 0.2s;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 2px 2px;
}

.DAF-menu div {
  display: none;
}

.DAF-menu span,
.DAF-menu i {
  border: 2px solid #202020;
  margin: -2px 2px 2px 0px;
  padding: 2px 4px 1px 4px;
  line-height: 1em;
  cursor: pointer;
}

.DAF-menu li:focus-within>*,
.DAF-menu li:hover>* {
  display: inline-block;
}

.DAF-menu span[data-value="status"] {
  background-color: #0FF;
}

.DAF-menu li:focus-within b,
.DAF-menu li:hover b {
  background-color: #FF0;
  color: #00F;
  transform: scale(1.5);
}

.DAF-menu li div {
  position: absolute;
  padding: 32px 32px 32px 4px;
  margin-top: -30px;
}

.DAF-menu i {
  background-color: #999;
  color: #DDD;
}

.DAF-menu .DAF-on {
  background-color: #0F0;
  color: #060;
}

.DAF-menu li[data-action="about"] div span:first-child {
  font-size: 22pt !important;
  background-color: #FF0;
  margin-top: -7px;
  padding: 0px 6px;
}

.DAF-menu li[data-action="about"] b {
  background-image: url("/img/gui/about.png");
  background-size: 22px 22px;
  background-position: 4px 3px;
}

.DAF-menu li[data-action="fullWindow"] b {
  background-image: url("/img/gui/zoom.png");
}

.DAF-menu li[data-action="gc"] b {
  background-image: url("/img/gui/gc.png");
}

.DAF-menu li[data-action="reloadGame"] b {
  background-image: url("/img/gui/game.png");
  background-size: 28px 28px;
  background-position: 0px 0px;
}

.DAF-menu li[data-action="badges"] b {
  background-image: url("/img/gui/badge.png");
}

.DAF-menu li[data-action="search"] b {
  background-image: url("/img/gui/friendship.png");
}

.DAF-menu:not(.DAF-facebook) i[data-pref="fullWindowSide"] {
  display: none;
}

.DAF-badges {
  display: flex;
  position: fixed;
  left: 22px;
  top: 34px;
}

.DAF-menu:focus-within+.DAF-badges,
.DAF-menu:hover+.DAF-badges {
  display: none;
}

.DAF-badges b {
  border: 2px solid #000;
  height: 23px;
  border-radius: 1em;
  background-color: #BDF;
  color: #046;
  font-style: normal;
  font-size: 14px;
  cursor: default;
}

.DAF-badges>* {
  display: none;
}

.DAF-badges .DAF-badge-img {
  background-position: 1px 0px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding: 0px 5px 0 20px;
}

.DAF-badges .DAF-badge-gc-counter {
  background-image: url(/img/gui/gc.png);
  background-color: #0FF;
}

.DAF-badges .DAF-badge-gc-energy {
  background-image: url(/img/gui/energy.png);
  background-color: #0F0;
}

.DAF-badges .DAF-badge-rep b {
  background-color: #A00;
  border-color: #A00;
  height: 25px;
  margin-top: -1px;
  display: inline-block;
}

.DAF-badges .DAF-badge-rep.animate b {
  animation: DAF_flash infinite 2s alternate;
}

.DAF-badges.DAF-badgerepeatables .DAF-badge-rep.DAF-badge-on,
.DAF-badges.DAF-badgegccounter .DAF-badge-gc-counter.DAF-badge-on,
.DAF-badges.DAF-badgegcenergy .DAF-badge-gc-energy.DAF-badge-on {
  display: inline-block;
}

.DAF-badge-rep div {
  width: 23px;
  height: 23px;
  border-radius: 11px;
  display: inline-block;
  background-size: 27px;
  vertical-align: top;
  margin: -1px;
  background-position: -2px -2px;
  transition: all 0.5s;
}

.DAF-badge-rep div+div {
  margin-left: 4px;
}

.DAF-badge-rep:not(:hover) .on-hover,
.DAF-badge-rep:hover .no-hover {
  display: none;
}

.DAF-badge-rep:hover {
  border: 20px solid transparent;
  margin: -20px;
  border-left-width: 6px;
  margin-left: -6px;
}

.DAF-badge-rep div:hover {
  transform: scale(1.8);
  width: 27px;
  height: 27px;
  background-position: 0 0;
  margin-right: -5px;
}

.DAF-badge-rep span {
  padding: 0 4px 0 2px;
  display: inline-block;
  border-radius: 11px;
  height: 19px;
  color: #FFF;
  margin-left: 2px;
}

@keyframes DAF_flash {
  from {
    filter: contrast(1);
  }

  to {
    filter: contrast(3);
    transform: scale(1.3);
  }
}

.DAF-menu li[data-action="search"] table {
  border: 2px solid #36648B;
  border-spacing: 0;
  border-collapse: collapse;
}

.DAF-menu li[data-action="search"] thead tr,
.DAF-menu li[data-action="search"] tfoot tr {
  background-color: #2281C0;
  color: #FFFFFF;
}

.DAF-menu li[data-action="search"] tbody tr {
  color: #000000;
  background-color: #F5F5F5;
}

.DAF-menu li[data-action="search"] tbody tr:nth-child(odd) {
  background-color: #E7E7E7;
}

.DAF-menu li[data-action="search"] th,
.DAF-menu li[data-action="search"] td {
  padding: 2px;
  border: 1px solid #88A6;
}

.DAF-menu li[data-action="search"] thead td:nth-child(2),
.DAF-menu li[data-action="search"] thead td:nth-child(3),
.DAF-menu li[data-action="search"] td:nth-child(3) {
  text-align: center;
}

.DAF-menu li[data-action="search"] tbody td:nth-child(2) {
  min-width: 180px;
}

.DAF-menu li[data-action="search"] tfoot th:first-child {
  min-width: 220px;
}

.DAF-menu li[data-action="search"] td:nth-child(4) {
  text-align: right;
  padding-right: 4px;
}

.DAF-menu li[data-action="search"] td a {
  color: #2281C0;
  text-decoration: underline;
}

.DAF-menu li[data-action="search"] td i {
  border: 0;
  background-color: transparent;
  color: #999;
  padding: 0;
  font-style: oblique;
  cursor: default;
}

.DAF-menu li[data-action="search"]>div>span {
  border-right-width: 0px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0px;
  padding: 4px 4px 3px 6px;
}

.DAF-menu li[data-action="search"]>div>input {
  border: 2px solid #000;
  width: 160px;
}

.DAF-menu li[data-action="search"]>div>input:not(:focus) {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

/*#endregion*/