/*#region MENU */
.DAF-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	--menu-y: 20px;
	--canvas-h: 650px;
	--gctable-h: 0px;
}

.DAF-container[daf-screen^="petsScreen."],
.DAF-container[daf-screen^="petsDenScreen."] ,
.DAF-container[daf-screen^="petsShopScreen."],
.DAF-container[daf-screen^="tower"] {
	--menu-y: 50px;
}

.DAF-container #canvas,
.DAF-container canvas {
	height: var(--canvas-h);
	flex-grow: 1;
	position: relative;
}
#container:has(.DAF-container) {
	height: unset;
}

.DAF-menu-container {
	z-index: 2000;
	position: absolute;
	left: -6px;
	top: var(--menu-y);
	--logo: url(/img/logo/iconGrey.png);
}

.DAF-menu-container.ok {
	--logo: url(/img/gui/about.png);
}

.DAF-badges b,
.DAF-menu,
.DAF-menu * {
	box-sizing: border-box;
	font-size: 12pt !important;
	font-family: Sans-Serif !important;
	line-height: 1.34;
	user-select: none;
}

.DAF-menu,
.DAF-menu b,
.DAF-menu i,
.DAF-menu span {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 1em;
	background-color: #bdf;
	color: #046;
	font-style: normal;
}

.DAF-menu {
	background-color: #fff;
	padding: 0;
	border-left: 0;
	border-radius: calc(1em + 2px);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: calc(1em + 11px);
	width: calc(1em + 12px);
	border-width: 2px;
	transition: 0.6s, background-color 0s, border 0s;
	background-position: 8px 4px;
	background-repeat: no-repeat;
	background-image: var(--logo);
	background-size: 16px 16px;
	margin: 1em 0 4em 0;
}

.DAF-menu:focus-within,
.DAF-menu:hover {
	height: auto;
	border-color: transparent;
	background-color: transparent;
	background-image: none;
	padding: 8px 0px 24px 10px;
	width: 54px;
	background-position: -14px 24px;
}

.DAF-menu-container.hasExtra .DAF-menu:not(:hover):not(:focus-within),
.DAF-menu-container.hasExtra .DAF-menu li[data-action="about"] b,
.DAF-menu-container.hasExtra .DAF-menu li[data-action="options"] b {
	background-color: #0f0 !important;
}

.DAF-menu li {
	display: none;
	text-decoration: none;
	white-space: nowrap;
	margin-bottom: 2px;
	border-radius: 1em;
	padding-right: 2px;
	cursor: default;
	position: relative;
}

.DAF-menu:focus-within li,
.DAF-menu:hover li {
	display: inline-block;
}

.DAF-menu b {
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 6px 0 4px;
	transition: 0.2s;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: 2px 2px;
}

.DAF-menu div {
	display: none;
}

.DAF-menu span,
.DAF-menu i {
	border: 2px solid #202020;
	margin: -2px 2px 2px 0px;
	padding: 2px 6px 1px 6px;
	line-height: 1em;
	cursor: pointer;
}
.DAF-menu .no-click {
	cursor: default;
}

.DAF-menu u {
	display: block;
}

.DAF-menu .squared i:not(:first-of-type),
.DAF-menu .squared-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 4px;
}
.DAF-menu .squared i:not(:last-of-type),
.DAF-menu .squared-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -2px;
	padding-right: 4px;
}

.DAF-menu .hue {
	filter: hue-rotate(285deg);
}

.DAF-menu .hue2 {
	filter: hue-rotate(90deg);
}

.DAF-menu li:focus-within,
.DAF-menu li:hover {
	z-index: 1;
}

.DAF-menu li:focus-within > *,
.DAF-menu li:hover > * {
	display: inline-block;
}

.DAF-menu span[data-value='status'] {
	background-color: #0ff;
}

.DAF-menu li:focus-within b,
.DAF-menu li:hover b {
	background-color: #ff0;
	color: #00f;
	transform: scale(1.5);
}

.DAF-menu li > div {
	position: absolute;
	padding: 32px 32px 32px 4px;
	transform: translateY(-50%);
    top: 50%;
}

.DAF-menu i {
	background-color: #cfc;
	color: #262;
}
.DAF-menu i[data-pref] {
	background-color: #999;
	color: #ddd;
}

.DAF-menu .DAF-on, .DAF-menu .DAF-on[data-pref] {
	background-color: #0f0;
	color: #060;
}

.DAF-menu li[data-action='about'] div span:first-child {
	font-size: 22pt !important;
	background-color: #ff0;
	margin-top: -7px;
	padding: 0px 6px;
}

.DAF-menu li[data-action='about'] b {
	background-image: var(--logo);
	background-size: 22px 22px;
	background-position: 4px 3px;
}
.DAF-menu li[data-action='about'] > div {
	top: 32px;
}

.DAF-menu li[data-action='fullWindow'] b {
	background-image: url('/img/gui/zoom.png');
}

.DAF-menu li[data-action='gc'] b {
	background-image: url('/img/gui/gc.png');
}

.DAF-menu li[data-action='reloadGame'] b {
	background-image: url('/img/gui/game.png');
	background-size: 28px 28px;
	background-position: 0px 0px;
}

.DAF-menu li[data-action='badges'] b {
	background-image: url('/img/gui/badge.png');
}

.DAF-menu li[data-action='ads'] b {
	background-image: url('/img/gui/ads.png');
}
.DAF-menu li[data-action='ads'] > div {
	transform: translateY(-170px);
}

.DAF-menu li[data-action='options'] b {
	background-image: url('/img/gui/options.png');
}

.DAF-menu li[data-action='search'] b {
	background-image: url('/img/gui/friendship.png');
}
.DAF-menu li[data-action='search'] > div {
	transform: translateY(-45px);
}

.DAF-badges {
	display: flex;
	position: absolute;
	left: 32px;
	top: 19px;
	transition: margin 0.5s;
}

.DAF-menu:focus-within + .DAF-badges,
.DAF-menu:hover + .DAF-badges {
	margin-left: 23px;
	margin-top: 11px;
}

.DAF-menu:hover:has(li[data-action='about']:hover) + .DAF-badges {
    margin-top: -18px;
}

.DAF-badges b {
	border: 2px solid #000;
	height: 23px;
	border-radius: 1em;
	background-color: #bdf;
	color: #046;
	font-style: normal;
	font-size: 14px;
	cursor: default;
}

.DAF-badges > * {
	display: none;
}

.DAF-badges .DAF-badge-img {
	background-position: 2px 0px;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	padding: 0px 5px 0 22px;
}

.DAF-badges .DAF-badge-energy,
.DAF-badges .DAF-badge-gc-energy {
	background-image: url(/img/gui/energy.png);
	background-color: #0f0;
	background-size: 22px;
	background-position: 0px -2px;
}

.DAF-badges .DAF-badge-energy {
	background-color: #fff;
	color: #a00;
}

.DAF-badges .DAF-badge-gc-counter {
	background-image: url(/img/gui/gc.png);
	background-color: #0ff;
}

.DAF-badges .DAF-badge-gc-energy {
	background-image: url(/img/gui/energy.png);
	background-color: #0f0;
}

.DAF-badges .DAF-badge-luckycards {
	background-image: url(/img/gui/luckycards.png);
	background-color: #ff0;
	white-space: nowrap;
}

.DAF-badges .DAF-badge-petshop {
	background-image: url(/img/gui/paw.png);
    background-color: #b2a;
    color: #fff;
}

.DAF-badges .DAF-badge-autodig,
.DAF-badges .DAF-badge-autoqueue {
	padding: 0 6px 0 27px;
    background-size: 22px;
    background-image: url(/img/gui/dig.png);
    background-position: 2px center;
    line-height: 26px;
    height: 26px;
    margin-top: -1px;
	white-space: nowrap;
}
.DAF-badges .DAF-badge-autodig {
    background-image: url(/img/gui/xp.png);
	background-color: #0ff;
}

.DAF-badges .DAF-badge-windmills {
	background-image: url(/img/gui/windmill.png);
	background-color: #9f9;
	padding: 0 13px;
	background-position: 2px -1px;
	background-size: 22px;
}

.DAF-badges .DAF-badge-extra {
    background-image: url(/img/gui/check_no.png);
    background-color: #fcc;
    color: #f00;
}

.DAF-badges .DAF-badge-p-c {
	background-image: url(/img/gui/caravan.png);
	background-color: #fd0;
}

.DAF-badges .DAF-badge-p-k {
	background-image: url(/img/gui/kitchen.png);
	background-color: #fa4;
}

.DAF-badges .DAF-badge-p-f {
	background-image: url(/img/gui/foundry.png);
	background-color: #6dd;
}

.DAF-badges .DAF-badge-rep b {
	background-color: #a00;
	border-color: #a00;
	height: 25px;
	margin-top: -1px;
	display: inline-block;
}

.DAF-badges .DAF-badge-extra.DAF-badge-on,
.DAF-badges.DAF-hasQueue.DAF-hqueue.DAF-hautoqueue .DAF-badge-autoqueue,
.DAF-badges.DAF-hasAutoDig.DAF-hautodig .DAF-badge-autodig,
.DAF-badges.DAF-badgeserverenergy .DAF-badge-energy.DAF-badge-on,
.DAF-badges.DAF-badgerepeatables .DAF-badge-rep.DAF-badge-on,
.DAF-badges.DAF-badgegccounter .DAF-badge-gc-counter.DAF-badge-on,
.DAF-badges.DAF-badgewindmills .DAF-badge-windmills.DAF-badge-on,
.DAF-badges.DAF-badgeproductions.DAF-badgecaravan .DAF-badge-p-c.DAF-badge-on,
.DAF-badges.DAF-badgeproductions.DAF-badgekitchen .DAF-badge-p-k.DAF-badge-on,
.DAF-badges.DAF-badgeproductions.DAF-badgefoundry .DAF-badge-p-f.DAF-badge-on,
.DAF-badges.DAF-badgeluckycards .DAF-badge-luckycards.DAF-badge-on,
.DAF-badges.DAF-badgepetshop .DAF-badge-petshop.DAF-badge-on,
.DAF-badges.DAF-badgegcenergy .DAF-badge-gc-energy.DAF-badge-on {
	display: inline-block;
}

.DAF-badge-rep {
	white-space: nowrap;
}

.DAF-badge-rep div {
	width: 23px;
	height: 23px;
	border-radius: 16px;
	display: inline-block;
	background-size: 27px;
	vertical-align: top;
	margin: -1px;
	background-position: -2px -2px;
	background-repeat: no-repeat;
	background-color: #a00;
	transition: all 0.5s;
}

.DAF-badge-rep div + div {
	margin-left: 4px;
}

.DAF-badge-rep:not(:hover) .on-hover,
.DAF-badge-rep:hover .no-hover {
	display: none;
}

.DAF-badge-rep:hover {
	border: 20px solid transparent;
	margin: -20px;
	border-left-width: 6px;
	margin-left: -6px;
}

.DAF-badge-rep div:hover {
	transform: scale(1.8);
	width: 27px;
	height: 27px;
	background-position: 0 0;
	margin-right: -5px;
}

.DAF-badge-rep span {
	padding: 0 4px 0 2px;
	display: inline-block;
	border-radius: 11px;
	height: 19px;
	color: #fff;
	margin-left: 2px;
}

@keyframes DAF_flash {
	from {
		filter: contrast(1);
	}

	to {
		filter: contrast(3);
		transform: scale(1.3);
	}
}

.DAF-menu table.DAF-table {
	border: 2px solid #36648b;
	border-spacing: 0;
	border-collapse: collapse;
}

.DAF-menu table.DAF-table thead tr,
.DAF-menu table.DAF-table tfoot tr {
	background-color: #2281c0;
	color: #ffffff;
}

.DAF-menu table.DAF-table tbody tr {
	color: #000000;
	background-color: #f5f5f5;
}

.DAF-menu table.DAF-table tbody tr:nth-child(odd) {
	background-color: #e7e7e7;
}

.DAF-menu table.DAF-table th,
.DAF-menu table.DAF-table td {
	padding: 2px;
	border: 1px solid #88a6;
}

.DAF-menu table.DAF-table thead td,
.DAF-menu table.DAF-table tfoot td {
	font-weight: bold;
}

.DAF-ads_limit_warning {
	width: 460px;
	padding: 2px 4px 2px 48px;
	background-image: url(/img/gui/q-hard.png);
	background-repeat: no-repeat;
	background-color: #620;
	color: #fff;
	background-position: 8px 50%;
	border: 2px solid #c00;
	border-radius: 8px;
	text-align: left;
	margin: 0 auto 4px;
	font-size: 15px !important;
	white-space: normal;
}

.DAF-menu li[data-action='ads'] tbody td:nth-child(3) {
	font-size: 12px !important;
}

.DAF-menu li[data-action='ads'] td,
.DAF-menu li[data-action='ads'] th {
	padding: 3px 5px;
}

.DAF-menu li[data-action='ads'] td:nth-child(2),
.DAF-menu li[data-action='ads'] td:nth-child(3),
.DAF-menu li[data-action='search'] thead td:nth-child(2),
.DAF-menu li[data-action='search'] thead td:nth-child(3),
.DAF-menu li[data-action='search'] td:nth-child(3) {
	text-align: center;
}

.DAF-menu li[data-action='search'] tbody td:nth-child(2) {
	min-width: 180px;
}

.DAF-menu li[data-action='search'] tfoot th:first-child {
	min-width: 220px;
}

.DAF-menu li[data-action='search'] td:nth-child(4) {
	text-align: right;
	padding-right: 4px;
}

.DAF-menu li[data-action='search'] td a {
	color: #2281c0;
	text-decoration: underline;
}

.DAF-menu li[data-action='search'] td i {
	border: 0;
	background-color: transparent;
	color: #999;
	padding: 0;
	font-style: oblique;
	cursor: default;
}

.DAF-menu li[data-action='search'] > div > span {
	border-right-width: 0px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0px;
	padding: 4px 4px 3px 6px;
}

.DAF-menu li[data-action='search'] > div > input {
	border: 2px solid #000;
	width: 160px;
}

.DAF-menu select[data-pref="hFoodNum"] {
    height: calc(1em + 5px);
    border: 1px solid #000;
    padding-top: 0;
	border-top-right-radius: 1em;
  	border-bottom-right-radius: 1em;
}

.DAF-menu li[data-action='search'] > div > input:not(:focus) {
	border-bottom-right-radius: 16px;
	border-top-right-radius: 16px;
}

.DAF-menu .DAF-search-region,
.DAF-menu .DAF-search-level {
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}
.DAF-menu .DAF-search-region {
	background-image: url(/img/gui/map.png);
}
.DAF-menu .DAF-search-level {
	background-image: url(/img/gui/level.png);
}
.DAF-menu .DAF-search-results {
	padding-top: 2px;
	margin-top: 0;
}
.DAF-menu a[data-action='visit'] {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-image: url(/img/gui/camp.png);
	cursor: pointer;
}
td.DAF-visit {
	display: none;
}
.DAF-container[daf-screen="friendsScreen.null"] td.DAF-visit,
.DAF-container[daf-screen="campLowerScreenVisit.null"] td.DAF-visit,
.DAF-container[daf-screen="campUpperScreenVisit.null"] td.DAF-visit {
	display: table-cell;
}
.DAF-container[daf-screen="visiting"] td.DAF-visit {
	display: table-cell;
	opacity: 0.3;
	pointer-events: none;
}
.DAF-menu [data-action="showMails"] {
	display: none;
}
.DAF-container[daf-screen="campUpperScreen.null"] [data-action="showMails"] {
	display: inline-block;
}

.DAF-container.DAF-fullscreen.DAF-hidemenu .DAF-menu-container {
	display: none;
}
/*#endregion*/

/*#region FULLWINDOW*/
.DAF-menu-container.portal [data-pref="fullWindowSide"] {
	display: none;
}

html.DAF-fullwindow,
html.DAF-fullwindow body {
	overflow: hidden !important;
	height: 100%;
}
html.DAF-fullwindow #gems_banner,
html.DAF-fullwindow .header-menu,
html.DAF-fullwindow #footer {
    display: none !important;
}
html.DAF-fullwindow .DAF-container {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
}
/*#endregion*/

/* Show language bar */
#hm-langbar {
	z-index: 1;
}

/* Opacity for ads */
.DAF-adsopacity .adsbygoogle {
	filter: opacity(.8);
}
.adsbygoogle {
	transform: translateX(20px);
	transition: transform 0.5s;
}
:has(.DAF-menu-container:hover) .adsbygoogle {
	transform: scale(40%) translate(75%, -75%);
}
:has(.adsbygoogle) .DAF-menu-container:not(.DAF-menu:hover) {
	top: 0;
	border-top: var(--menu-y) solid transparent;
}
