.DAF-selector {
	box-sizing: border-box;
	position: absolute;
	z-index: 2147483647;
	border: 1px solid #f00;
	background-color: rgba(255, 255, 0, 0.3);
}

.DAF-counter {
	box-sizing: border-box;
	position: absolute;
	z-index: 2147483647;
	background-color: #600;
	color: #fff;
	font: 10pt sans-serif !important;
	padding: 2px 4px;
	text-align: left;
	white-space: pre;
}

.DAF-box {
	box-sizing: border-box;
	position: absolute;
	z-index: 2147483646;
	border: 1px solid #060;
	background-color: rgba(0, 255, 0, 0.3);
	color: transparent;
	font: bold 10pt sans-serif !important;
	overflow: hidden;
}

body.DAF-show-id .DAF-box {
	background-color: rgba(0, 255, 0, 0.8);
	color: #000;
}

.DAF-lg-badge {
    position: fixed;
    top: -5px;
    left: -5px;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    border-radius: 13px;
    cursor: default;
    background-color: #ff0;
    color: #000;
    overflow-y: hidden;
    min-width: 26px;
    min-height: 26px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 6px 6px;
    background-image: url(/img/gui/about.png);
    box-sizing: content-box;
}
.DAF-lg-badge:hover {
	top: 0px;
    left: 0px;
    border-radius: 0;
    border-bottom-right-radius: 15px;
}
.DAF-lg-badge div {
	height: 0;
	width: 0;
	padding: 0px 4px 0px 2px;
	transition: all 0s;
	background-color: #ff0;
	color: #000;
	overflow: hidden;
}
.DAF-lg-badge div.title {
	font-weight: bold;
}
.DAF-lg-badge:hover div {
	transition: color 2s 2s, background-color 2s 2s;
	height: unset;
	width: unset;
}
.DAF-lg-badge:hover div.info {
	background-color: #ffd500;
	color: #005bbb;
}
.DAF-lg-badge:hover div.title {
	background-color: #005bbb;
	color: #ffd500;
}
