.kitchen tr td:nth-child(1),
.kitchen tr td:nth-child(3),
.kitchen tr td:nth-child(4),
.kitchen tr td:nth-child(5),
.kitchen tr td:nth-child(6),
.kitchen tr td:nth-child(7),
.kitchen tr td:nth-child(8),
.kitchen tr td:nth-child(14) {
  text-align: center;
}

.kitchen tr td:nth-child(2),
.kitchen tr.ingredient td:nth-child(2) {
  text-align: left;
}

.kitchen tr td:nth-child(9),
.kitchen tr td:nth-child(11),
.kitchen tr td:nth-child(12),
.kitchen tr td:nth-child(13),
.kitchen tr.ingredient td:nth-child(1),
.kitchen tr.ingredient td:nth-child(3) {
  text-align: right;
}

.kitchen td.material {
  background-size: 22px 22px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: 4px center;
  cursor: help;
}

.kitchen tr.odd+tr:not(.odd) td,
.kitchen tr:not(.odd)+tr.odd td {
  border-top-width: 2px;
}

.kitchen.dpw tr td:nth-child(8),
.kitchen.dpw tr td:nth-child(12),
.kitchen.dpw tr td:nth-child(13) {
  background-color: rgba(255, 255, 0, 0.1);
}