body:not(.map-rendered) .tab_map .toolbar label:not(.actions),
body:not(.map-rendered) .tab_map .toolbar label.actions button[data-action="save"],
body:not(.map-rendered) .tab_map .toolbar img.location,
body.map-rendered .tab_map .toolbar div.warning {
  display: none;
}

body.map-rendered .tab_map {
  background-color: #000;
}

body.map-rendered .tab_map .scrollable-content {
  margin-left: 0;
}

body.map-rendered ul.vertical-menu li[data-tabid="map"].selected {
  border-right-color: #000;
}

body.is-admin .tab_map .toolbar button[data-action="admin"] {
  background-color: var(--tt-button-hlcol);
}

.tab_map .toolbar button.small {
  font-size: 0.8em;
  margin: 0px 0px 1px 6px;
  padding: 1px 2px;
}

.tab_map .toolbar label div {
  display: inline-block;
  font-weight: bold;
}

.tab_map .toolbar .warn {
  background-color: var(--tb-hlcol);
  color: var(--tb-hlfgcol);
  border-radius: 4px;
  padding: 2px 4px;
}

/*#region table*/
.tab_map .toolbar table {
  border: 0;
  margin: 0px 0 -8px 0;
}

.tab_map .toolbar table tr {
  background-color: transparent;
}

.tab_map .toolbar table th,
.tab_map .toolbar table td {
  border: 0;
  border-right: 2px solid var(--tt-bgcol);
  border-left: 2px solid var(--tt-bgcol);
  padding: 0 2px;
  color: var(--tt-fgcol);
  font-size: 12px;
  text-align: right;
}

.tab_map .toolbar table tr:first-of-type th {
  text-align: center;
}

.tab_map .toolbar table tr th:first-of-type {
  text-align: left;
}

.tab_map .toolbar table tr:first-of-type th:first-of-type {
  text-align: right;
}

.tab_map .toolbar table tr:first-of-type th {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tab_map .toolbar table tr:last-of-type td {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab_map .toolbar .cost {
  background-color: #0008;
}

.tab_map .toolbar .special {
  background-color: #FF0;
  color: #000;
}

.tab_map .toolbar .quest {
  background-color: #F0F;
  color: #000;
}

.tab_map .toolbar .material {
  background-color: #0F0;
  color: #000;
}

.tab_map .toolbar th.special,
.tab_map .toolbar th.quest,
.tab_map .toolbar th.material {
  padding: 0;
}

.tab_map .toolbar .special img,
.tab_map .toolbar .quest img,
.tab_map .toolbar .material img {
  max-width: 18px;
  max-height: 18px;
  margin: -2px;
}

/*#endregion*/

.tab_map .tile-info {
  cursor: default;
}

.tab_map .tile-info table:not(.has-special) .special,
.tab_map .tile-info table:not(.has-quest) .quest,
.tab_map .tile-info table:not(.has-material) .material {
  display: none;
}

.tab_map .tile-info table.is-repeatable tr.totals {
  visibility: hidden;
}

.tab_map .toolbar input[type=radio] {
  width: 20px !important;
  height: 20px !important;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--tt-input-bgcol);
  border: 1px solid var(--tt-input-brcol);
  border-radius: 10px;
}

.tab_map .toolbar input[type=radio]:checked {
  background-color: var(--tt-button-hlcol);
}

.tab_map .toolbar input[type=radio]:disabled {
  opacity: 0.6;
  background-color: var(--tt-input-brcol);
}

.tab_map .toolbar input[type=radio]:before {
  color: var(--tt-input-brcol);
  content: ' ';
  font-weight: bold;
  font-size: 15px;
  display: block;
  margin-top: -1px;
  text-align: center;
}

.tab_map .toolbar input[type=radio]:disabled:before {
  color: var(--tt-input-bgcol);
}

.tab_map .toolbar [data-flag]:before {
  padding: 1px;
}

.tab_map .toolbar input[type=radio][data-flag]:before,
.tab_map .toolbar [data-flag]:before {
  content: attr(data-flag);
}

.tab_map .toolbar div[data-id="info"] {
  line-height: 0.9;
  white-space: pre;
}

.tab_map .map {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.tab_map .map table {
  border: 0;
  position: absolute;
  border-collapse: separate;
}

.tab_map .map.show_opaque table,
.tab_map .map.show_tiles table {
  background-color: #0006;
}

.tab_map .map canvas {
  pointer-events: none;
}

.tab_map .map .scaled {
  transform-origin: top left;
}

.tab_map .map table,
.tab_map .map canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.tab_map .map table tr {
  background-color: transparent;
}

.tab_map .map td {
  border: 0;
  width: 62px;
  height: 62px;
  background-color: transparent;
  position: relative;
}

.tab_map .map.show_tiles td.tile {
  border: 2px solid #AAF;
  background-color: #AAF6;
}

.tab_map .map.show_tiles.show_bonus td.xp {
  border: 2px solid #FF0;
  background-color: #FF06;
}

.tab_map .map.show_tiles.show_bonus td.energy {
  border: 2px solid #0F0;
  background-color: #0F06;
}

.tab_map .map.show_tiles.show_bonus td.energy.xp {
  border: 2px solid #0FF;
  background-color: #0FF6;
}

.tab_map .map.show_opaque td.opaque {
  background-color: #F008;
}

/* .tab_map .map.show_opaque td.walkable:not(.hide) {
  background-color: #0F08 !important;
} */

.tab_map .map.show_bonus td.xp,
.tab_map .map.show_bonus td.energy {
  background-repeat: no-repeat;
  background-origin: border-box;
}

.tab_map .map.show_bonus td.xp {
  background-image: url(/img/gui/xp.png);
  background-position: 0px 0px;
  background-size: 26px 26px;
}

.tab_map .map.show_bonus td.energy {
  background-image: url(/img/gui/energy.png);
  background-position: -4px 0px;
  background-size: 32px 26px;
}

.tab_map .map.show_bonus td.energy.xp {
  background-image: url(/img/gui/energy.png), url(/img/gui/xp.png);
  background-position: -4px 0px, 16px 0px;
  background-size: 32px 26px, 26px 26px;
}

/* .tab_map .map.show_tiles td:not(.hide).tile:hover,
.tab_map .map td:not(.hide):hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  outline: 2px solid #FFF;
} */

.tab_map .map .beacon-req {
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  background-size: 62px 62px;
  background-color: #F00;
  box-shadow: inset 0 0 0px 4px #F00;
  display: none;
}

.tab_map .map .beacon-active .beacon-req {
  background-color: #0F0;
  box-shadow: inset 0 0 0px 4px #0F0;
}

.tab_map .map .beacon {
  display: none;
  width: 14px;
  height: 14px;
  border: 1px solid #000;
  border-radius: 7px;
  margin-left: 20px;
  background-color: #F008;
}

.tab_map .map .beacon-active .beacon {
  border: 2px solid #FFF;
  width: 16px;
  height: 16px;
  margin-left: 19px;
}

.tab_map .map.show_beacon .beacon {
  display: inline-block;
}

.tab_map .map td[title] {
  cursor: help;
}

.tab_map .map td[data-action] {
  cursor: pointer;
}

.tab_map img.location {
  max-width: 40px;
  max-height: 40px;
  vertical-align: bottom;
  margin-right: -6px;
  cursor: default;
}

body.map-rendered .tab_map .scrollable-content.dragging,
body.map-rendered .tab_map .scrollable-content.dragging td {
  cursor: grabbing;
}

.tab_map .map .overlay {
  position: absolute;
}

.tab_map .map .line {
  position: absolute;
  height: 10px;
  background-color: #FF0;
  border: 2px solid #000;
  transform-origin: 0px 5px;
  border-radius: 5px;
  display: none;
}

.tab_map .map .circle {
  position: absolute;
  height: 84px;
  width: 84px;
  border: 10px solid #FF0;
  border-radius: 84px;
  margin-top: -11px;
  margin-left: -11px;
  display: none;
}

.tab_map.show_uncleared .toolbar {
  --tt-bgcol: #c18128;
}

.tab_map .map .random-pos {
  box-shadow: inset 0px 0px 0px 9px #FFF8;
}

.tab_map .toolbar .map-buttons .for-mapper {
  display: none;
}
.is-mapper .tab_map .toolbar .map-buttons:hover .for-mapper {
  display: inline-block;
}