.tab_repeat input[type='radio'] {
	width: 24px !important;
	height: 24px !important;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--tt-input-bgcol);
	border: 1px solid var(--tt-input-brcol);
	position: relative;
}
.tab_repeat input[type='radio']:checked {
	background-color: var(--tt-button-hlcol);
}
.tab_repeat input[type='radio']:before {
	color: var(--tt-input-fgcol);
	content: attr(value);
	font-size: 15px;
	display: block;
	margin-top: -1px;
	text-align: center;
	line-height: 24px;
}
.tab_repeat input[type='radio']:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.tab_repeat input[type='radio']:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.tab_repeat .toolbar input[name='rename'] {
	width: 120px;
}

.tab_repeat .tabs {
	background-color: var(--tb-brcol);
	position: sticky;
	margin-top: -25px;
	top: -25px;
	display: flex;
	column-gap: 4px;
	padding: 0 6px;
	border-bottom: 1px solid var(--tt-input-brcol);
	z-index: 1;
}
.tab_repeat .tabs input[type='radio'] {
	border-radius: 8px 8px 0 0;
	border-bottom: 0;
	width: 120px !important;
	cursor: pointer;
}
.tab_repeat .tabs input[type='radio']:checked {
	box-shadow: 0px 1px 0px var(--tt-button-hlcol);
}
.tab_repeat .tabs input[type='radio']:before {
	content: attr(data-caption);
	overflow: hidden;
	white-space: nowrap;
	padding: 0 2px;
}
.tab_repeat .sticky-container {
	padding-top: 24px;
}

table.repeat {
	min-width: 630px;
}
.repeat.data td {
	text-align: center;
}

.repeat.data td:nth-child(3) {
	text-align: left;
}

.repeat td.reset_gems {
	text-align: right;
	padding-right: 12px;
	padding-left: 12px;
}

.repeat td.bonus {
	text-align: right;
}

.repeat .reset_gems img,
.repeat .bonus img {
	height: 18px;
	vertical-align: text-bottom;
	margin-left: 2px;
}

.repeat tbody tr.selected {
	background-image: -webkit-linear-gradient(
		top left,
		rgba(0, 0, 255, 0.2),
		rgba(0, 255, 255, 0.1),
		rgba(255, 255, 128, 0.2)
	);
}

.repeat tr.selected div.location_icon {
	border-color: #f00;
}

.repeat tr.selected.ready div.location_icon {
	border-color: #096;
}

.repeat tr.ready td.time {
	font-weight: bold;
	background-color: var(--success-bgcol);
	color: var(--success-fgcol);
}

.repeat tr:not(.ready) td.time {
	background-color: var(--warn-bgcol);
	color: var(--warn-fgcol);
}

.repeat td.time .relative {
	display: block;
}

.repeat td.time .absolute {
	display: block;
	font-size: 12px;
	opacity: 0.8;
}
