.rewardlinks_data tbody tr {
	height: 33px;
	transition: all 1s;
}

.rewardlinks_data img {
	display: inline;
	vertical-align: middle;
}

.rewardlinks_data td {
	text-align: center;
}

.rewardlinks_data tr td:nth-child(5),
.rewardlinks_data tr td:nth-child(6) {
	text-align: left;
	padding: 0px 4px;
}

.rewardlinks_data tr td:nth-child(5) img {
	margin: 0px 4px 0px 0px;
}

.rewardlinks_data tr td:nth-child(6) img {
	width: 28px;
	height: 28px;
	margin: 1px 4px 1px 0px;
}

.rewardlinks_data tr td:nth-child(6) a,
.rewardlinks_data tr td:nth-child(6) a:visited {
	color: #00e;
}

.rewardlinks_data span.alert {
	color: #f00;
	font-weight: bold;
}

.rewardlinks_data tbody tr[data-status='1'] {
	background-color: #daa;
}

.rewardlinks_data tbody tr[data-status='2'] {
	background-color: #0f0;
}

.rewardlinks_data tbody tr[data-status='3'] {
	background-color: #fd0;
}

.rewardlinks_data td:nth-child(5):empty {
	background-color: rgba(0, 255, 255, 0.2);
}

.rewardlinks_data a.reward {
	padding: 4px 8px;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
	background-color: #383;
	border: 1px solid #000;
}

.rewardlinks_data a.reward:visited {
	background-color: #555;
}

.rewardlinks_data tr[data-status='1'] a.reward {
	background-color: #c33;
}

.rewardlinks_data tr.collected a.reward {
	background-color: #338;
}

.rewardlinks_data a.reward:hover {
	background-color: #f0f;
}

.rewardlinks_data tbody tr.selected {
	background-image: -webkit-linear-gradient(
		top left,
		rgba(0, 0, 255, 0.5),
		rgba(0, 255, 255, 0.4),
		rgba(255, 255, 128, 0.4)
	);
}

.rewardlinks_summary {
	max-width: 680px;
}

.rewardlinks_summary td {
	vertical-align: middle;
	padding: 1px;
}

.rewardlinks_summary img {
	vertical-align: middle;
}

.rewardlinks_summary .material {
	white-space: nowrap;
	font-size: 24px;
	font-weight: bold;
}

.rewardlinks_summary .material span.qty {
	margin-left: 4px;
}

.rewardlinks_summary .material img {
	max-width: 32px;
	max-height: 32px;
}

.rewardlinks_summary .player img {
	width: 28px;
	margin: 1px -1px;
	vertical-align: middle;
}

.rewardlinks_options td {
	vertical-align: middle;
	white-space: nowrap;
}

.rewardlinks_options td input {
	vertical-align: middle;
}

.rewardlinks_options td.label {
	text-align: right;
}

.rewardlinks_pixel {
	margin-top: 4px;
}

.rewardlinks_pixel td {
	vertical-align: middle;
	text-align: center;
	padding: 0;
	min-width: 80px;
}

.rewardlinks_pixel .from {
	font-weight: bold;
}

.rewardlinks_pixel .expires {
	display: block;
	font-size: smaller;
}

.rewardlinks_pixel .qty {
	margin: -2px 0px;
}

.rewardlinks_pixel .reward img {
	max-width: 32px;
	max-height: 32px;
}

.tab_rewardlinks .toolbar input[name='paste'] {
	width: 64px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.tab_rewardlinks .toolbar button[name='add'] {
	margin-right: 0;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.tab_rewardlinks .toolbar [data-flag]:before {
	padding: 1px;
}

.tab_rewardlinks .toolbar input[type='radio'][data-flag]:before,
.tab_rewardlinks .toolbar [data-flag]:before {
	content: attr(data-flag);
}
