.options {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
}

.options table {
  width: 400px;
}

.options input[type=checkbox] {
  zoom: 1.8;
  margin: 0;
  cursor: pointer;
}

.options h3 {
  font-size: inherit;
}

.options p {
  font-size: small;
}

.options tr td:nth-child(2) {
  vertical-align: top;
  padding-top: 7px;
}

.options .critical td:first-child {
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 0, 0.2), rgba(255, 255, 255, 0));
}

.options .suboption td:first-child {
  padding-left: 32px;
  background-image: -webkit-linear-gradient(top left, rgba(0, 0, 255, 0.1), rgba(255, 255, 255, 0));
}

.options .hassuboptions td:first-child {
  background-image: -webkit-linear-gradient(top left, rgba(0, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.options div.warning {
  border-radius: 4px;
  padding: 1px 2px;
}

.options a {
  text-decoration: underline;
  color: unset;
  font-weight: bold;
}

.options a:hover {
  background-color: var(--tb-hlcol);
}