.foundry tr td:nth-child(1),
.foundry tr td:nth-child(3),
.foundry tr td:nth-child(4),
.foundry tr td:nth-child(5),
.foundry tr td:nth-child(6),
.foundry tr td:nth-child(7),
.foundry tr td:nth-child(11),
.foundry tr.ingredient td:nth-child(1) {
  text-align: center;
}

.foundry tr td:nth-child(2),
.foundry tr td:nth-child(8),
.foundry tr.ingredient td:nth-child(2) {
  text-align: left;
}

.foundry tr td:nth-child(9),
.foundry tr td:nth-child(10),
.foundry tr.ingredient td:nth-child(3) {
  text-align: right;
}

.foundry td.material {
  background-size: 22px 22px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: 4px center;
  cursor: help;
}