.events img.incomplete {
	filter: saturate(0);
}

.events tr[data-eid] td {
	text-align: center;
}

.events tr[data-eid] td:nth-child(2) {
	text-align: left;
}

.events td.date {
	font-size: 9pt;
	white-space: nowrap;
}

.events td.segmented {
	min-width: 30px;
	background-image: url(/img/gui/check_yes.png);
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center center;
}

.events .cost img {
	height: 18px;
	vertical-align: text-bottom;
	margin-left: 2px;
}

.events td.materials {
	padding: 0 5px;
}

.events-tooltip {
	padding: 4px;
	text-align: center;
}

.events-tooltip img {
	max-height: 150px;
	vertical-align: middle;
}

.events-tooltip img.full {
	height: 146px;
}

.events-tooltip span {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 4px;
}

.events-tooltip span.desc {
	font-size: 14px;
	font-weight: normal;
	max-width: 500px;
	margin: auto;
}

.events tr.hilight-materials td.materials,
.events tr.hilight-qst td.qst,
.events tr.hilight-ach td.ach,
.events tr.hilight-tre td.tre,
.events tr.hilight-loc td.loc,
.events tr.hilight-loc1 td.loc1,
.events tr.hilight-loc2 td.loc2,
.events tr.hilight-loc3 td.loc3 {
	background-color: var(--tb-hlcol);
	color: var(--tb-hlfgcol);
	cursor: zoom-in;
}

.events tr.set-qst td.qst,
.events tr.set-ach td.ach,
.events tr.set-tre td.tre,
.events tr.set-loc td.loc,
.events tr.set-loc1 td.loc1,
.events tr.set-loc2 td.loc2,
.events tr.set-loc3 td.loc3 {
	background-color: var(--success-bgcol);
	color: var(--success-fgcol);
	cursor: default;
}

.events .event-subtable {
	margin-top: 2px;
}

.events .event-subtable tfoot {
	background-color: var(--th-bgcol);
	color: var(--th-fgcol);
}

.events .event-subtable tfoot td {
	background-color: #888a;
}

.events .event-subtable .loot,
.events .event-subtable .rewards {
	text-align: right;
	vertical-align: top;
}

.events .event-subtable .loot + .loot,
.events .event-subtable .rewards + .rewards {
	padding-left: 4px;
}

.events .event-locations tr.separator td {
	border-top: 2px solid var(--tb-brcol);
}

.events .reset {
	text-align: center;
}

.events .rewards span,
.events .loot span,
.events .reset span {
	display: inline-block;
	cursor: default;
	margin: 0px 2px;
}

.events .rewards i,
.events .loot i,
.events .reset i {
	display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
	vertical-align: middle;
	margin-left: 2px;
}

.events .rewards img,
.events .loot img,
.events .reset img {
	max-height: 24px;
	max-width: 24px;
}
.events .loot i.photo {
	border: 1px solid var(--tb-fgcol);
	box-shadow: 1px 1px 2px 0px var(--tb-fgcol);
	background-color: var(--tr-bgcol);
}
.events .loot i.photo img {
	max-width: 20px;
	max-height: 20px;
}

.events .event-quests tr td.level,
.events .event-treasure tr td.level,
.events .event-achievement tr td.level {
	text-align: center;
}

.events .event-achievement tr td.reached,
.events .event-locations tr td.energy,
.events .event-locations tr td.reached {
	text-align: right;
}

.events .event-achievement tr td.target,
.events .event-locations tr td.target {
	text-align: left;
}

.events .event-achievement tr td.goal,
.events .event-locations tr td.goal,
.events .event-locations tr td.chance {
	text-align: right;
	padding-left: 16px;
	padding-right: 16px;
}

.events .event-locations tr td.chance,
.events .event-locations tr td.clear {
	vertical-align: middle;
}

.events .event-quests tr td.final,
.events .event-treasure tr td.final {
	text-align: center;
	font-weight: bold;
}

.events .event-achievement th.icon {
	background-color: var(--tr-bgcol);
}

.events .event-treasure th.icon img,
.events .event-achievement th.icon img {
	max-width: 128px;
	max-height: 128px;
}

.events.sticky-header tbody {
	border-bottom: 2px solid var(--tb-brcol);
}

.events td.toolbar {
	position: relative;
	background-color: var(--tb-brcol);
}

.events td.toolbar button[data-name='close'] {
	position: absolute;
	left: 8px;
}

.events td.toolbar label span {
	font-weight: bold;
}

.events .location_icon,
.events .location_icon img {
	width: 32px;
	height: 32px;
}

.events .location_name {
	margin-left: 6px;
	display: inline-block;
	vertical-align: middle;
}

.events .not-completed div.location_icon {
	border-color: #f00;
}

.events .completed div.location_icon {
	border-color: #096;
}

.events .lootflag {
	background-size: cover;
	margin-right: -2px;
	border: 0;
}

.events .lootflag:not(:checked) {
	opacity: 0.7;
	filter: grayscale(0.8);
}

.events .lootflag:not(:checked):hover {
	opacity: 1;
}

.events .lootflag:checked:before {
	content: '';
}

.events .lootflag[name='loot_gems'] {
	background-image: url(/img/gui/gem.png);
}

.events .lootflag[name='loot_achiev'] {
	background-image: url(/img/gui/achiev_ok.png);
}

.events .lootflag[name='loot_photo'] {
	background-image: url(/img/gui/photo.png);
}

.events .lootflag[name='loot_xp'] {
	background-image: url(/img/gui/xp.png);
}

.events .remaster.warning,
.events .tutorial.warning {
	border-radius: 5px;
	padding: 0 4px;
	display: inline-block;
}

.events .remaster.warning {
	background-image: url(/img/gui/remaster.png);
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 2px center;
}